streamlit
streamlit-option-menu==0.3.6

pandas==2.2.3
numpy>=2.0.0

tensorflow==2.20.0
scikit-learn==1.5.2

matplotlib
plotly
seaborn

nltk==3.8.1
textstat==0.7.4
vaderSentiment==3.3.2
pyenchant==3.2.2
regex
dash
Pillow
